*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}

.board .block{
    width:var(--width);
    height:var(--height);
    display:flex;
}

.row{
    display: inline-flex;
}

.board{
    display: inline-flex;
    flex-direction: column;
    border:30px solid rgb(192, 100, 100);
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}